@use "../styles/variable.scss" as *;




.erreur-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;

  p:first-child,
  p:nth-child(2) {
    color: $maincolor;
  }
  
  p:first-child {
    font-size: 200px;
    font-weight: 700;
    margin: 0;
    
  }

  p:nth-child(2) {
    font-size: 1.5rem;
    
  }

  a {
    font-size: 1rem;
    text-decoration: underline;
    
  }
}



@media (max-width:480px) {


.erreur-page {

 p:first-child {
    font-size: 96px;
   

}

p:nth-child(2) {
  display: flex;
  flex-direction: column;
    font-size: 18px;

    
  }

  a {

    font-size: 14px;
    
  }

}

}

