@use "../styles/variable.scss" as *;

.dropdown {
    width: 100%;

  .dropdown-button {
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    color:$titlecolor ;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: $maincolor;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    
  }

   

  .dropdown-icon {
  width: 24px;  
  height: 15px;  
}

}
