root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html, body, #root {
 
  margin: 0 auto;
}





@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.read-the-docs {
  color: #888;
}



/* Screen=Desktop, Active=Accueil */

/*width: 1240px;
height: 68px;*/


/* Inside auto layout */
/*flex: none;
order: 0;
flex-grow: 0;*/

